spring:
  datasource:
    url: jdbc:mysql://localhost:3306/springbatch
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  batch:
    jdbc:
      initialize-schema: always